body {
    background-image: linear-gradient(180deg, rgba(255,244,148,1) 0%, rgba(255,182,83,0.851) 63.26%, rgba(255,0,239,0.431) 100%);
}

.centerimage{
    text-align: center;
}


#clock {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
    font-size: 36px;
    text-align: right;
    padding-top: 3%;
    padding-right: 3%;
}